# Backend

GROQ_API_KEY=

OPENAI_API_KEY=

QDRANT_URL=

QDRANT_API_KEY=

UPSTASH_REDIS_URL=

UPSTASH_REDIS_TOKEN=

LANGSMITH_API_KEY=

SENTRY_DSN=

VAPI_API_KEY=

HUME_API_KEY=

# Frontend

NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_VAPI_PUBLIC_KEY=